a.current {
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  text-decoration: underline;  
}


header{
  /* width: 5600px; */
  height: 128px;
  background-color: rgb(11,6,245);
 
}


a{
  text-decoration: none;
  font-size: 21px;
  width: 5em;
  color: rgb(180,180,180)
  
}

h1 a{
  font-size:48px;

}

h1{
  text-align: center;
}


img {
  max-width: 100%;
  height: auto;
}

p{
  color: rgb(163, 45, 84);
  font-size: 16px;
}

footer{
  width: 5600px;
  height: 128px;
  background-color: rgb(11,6,245);
}